WebServiceProject/WebContent/wsdl/SetTemperature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.web" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.web" xmlns:intf="http://service.web" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.web" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="changeTemperature">
    <complexType>
     <sequence>
      <element name="fname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeTemperatureResponse">
    <complexType>
     <sequence>
      <element name="changeTemperatureReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="changeTemperatureRequest">

      <wsdl:part element="impl:changeTemperature" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeTemperatureResponse">

      <wsdl:part element="impl:changeTemperatureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SetTemperature">

      <wsdl:operation name="changeTemperature">

         <wsdl:input message="impl:changeTemperatureRequest" name="changeTemperatureRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeTemperatureResponse" name="changeTemperatureResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SetTemperatureSoapBinding" type="impl:SetTemperature">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="changeTemperature">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeTemperatureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeTemperatureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SetTemperatureService">

      <wsdl:port binding="impl:SetTemperatureSoapBinding" name="SetTemperature">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/SetTemperature"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
